GITHUB_TOKEN='your GitHub token'
ORG_NAME='your-org-name'
TEAM_NAME='your-team-name'
DEPLOYABLE_TOPIC='deployer-php'
DATE_RANGE_TZ_OFFSET='0'
WEEK_OFFSET=''
CONFLUENCE_EMAIL='your-email@example.com'
CONFLUENCE_API_TOKEN='your-confluence-api-token'
